<div class="slideshow">
	<div class="slider advanced-slider minimal-small webkit" style="width: 740px; height: 216px;">
	<div class="slide-wrapper" style="width: 740px; height: 216px;">
	<div class="navigation-arrows">
	<a class="previous" style="opacity: 0.18128800512565513;"></a>
	<a class="next" style="opacity: 0.18128800512565513;"></a>
	</div>
	<div class="navigation-buttons" style="left: 354px;">
	<div class="left"></div>
	<div class="middle">
	<div class="buttons" style="left: 0px;">
	<a rel="0" class="select"></a><a rel="1" class=""></a>
	</div></div>
	<div class="right"></div>
	</div>
	<div class="slideshow-controls pause"></div>
	<div class="slide" style="background-image: url(/common/images/sl.jpg); background-position: 0px 0px; background-repeat: no-repeat no-repeat;"></div>
	<canvas height="44" width="44" class="timer-animation" style="opacity: 1;"></canvas>
	</div>
	<div class="shadow" style="width: 740px; top: 216px;">
	<div class="shadow-left" style=""></div>
	<div class="shadow-middle" style="width: 340px;"></div>
	<div class="shadow-right" style=""></div>
	</div>
	</div>
</div>