<div id="smoothmenu1" class="ddsmoothmenu">
	{include_php file="plugins/menu_top.php"}
	<div class="timkiem">
     	<gcse:searchbox-only></gcse:searchbox-only>
	</div>
  	<div class="clr"></div>
</div>
{literal}<script>
  (function() {
    var cx = '018116349727569473118:gxf_mzvenpy';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>{/literal}