<div id="smoothmenu1" class="ddsmoothmenu">
	{include_php file="plugins/menu_top.php"}
	<div class="timkiem">
     	<form name="frmSearch" action="#" method="get">
      		<table cellspacing="0" cellpadding="0" border="0" id="table1" style="border-collapse: collapse">
        		<tbody><tr>
            		<td width="107" class="searchText">
                   	<input type="text" onfocus="{literal}javascript:if(this.value==&#39;Tìm kiếm&#39;){this.value=&#39;&#39;;};{/literal}" onblur="{literal}javascript:if(this.value==&#39;&#39;){this.value=&#39;Tìm kiếm&#39;;};{/literal}" value="Tìm kiếm" name="searchword" id="input_searchword" />
                  	</td>
             	</tr>
          	</tbody></table>
     	</form>
	</div>
  	<div class="clr"></div>
</div>