<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Đăng nhập quản trị</title>
<link href="/common/css/adminstyle.css" type="text/css" rel="stylesheet" />
{literal}
<style type="text/css">
body{
	background: url('/common/images/bg2.gif') !important;
}
{/literal}
</style>
</head>
<body>
<form method="post" action="/login">
<table cellspacing="0" cellpadding="3" border="1" bgcolor="#eff19a" align="center">
	<tr bgcolor="#0099ff">
		<td align="center" colspan="2">Đăng nhập</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>
			<input type="text" value="" id="email" name="email" /></td>
	</tr>
	<tr>
		<td>Password</td>
		<td>
			<input type="password" value="" id="password" name="password" /></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type="submit" value="Đăng nhập" id="submit" name="submit" /></td>
	</tr>
</table>
</form>
</body>
</html>
