<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Quản Trị Website</title>
<link href="/common/css/adminstyle.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div id="wrapper">
<div id="header">
<h1>Rắn mối Giang Điền</h1>
<h3>PHẦN QUẢN TRỊ WEBSITE</h3>
<div id="chao">Chào bạn {$name}
</div>
<div id="thoat"><a href="/">Trang chủ</a> &nbsp; <a href="/logout">Thoát</a></div>
</div>
{include file="./include/admin_menu.html"}
<div id="info">
<div id="caption"></div>
<div id="homnay">{$time}</div>
</div>
<div id="content_wrapper">
<div id="content">
<br />
<br />
<div style="text-align:center; font-size:25px; color:#0080ff;">
<p>Chào mừng <b>{$name}</b> đến với trang quản trị <b>Rắn mối Giang Điền.</b></p>
</div>
</div>
</div>
</div>
</body>
</html>
