<div class="module">
	<h3 class="module-title">Thống kê truy cập</h3>
	<div class="module-noidung">
		<div class="thongke">
			<div class="counter"><div style="margin:0 auto; text-align:center"><table cellpadding="1" cellspacing="1" border="0" style="text-align: center; width: 98%;"><tbody align="center"><tr style="text-align:left;">
		<td width="5%"><img src="/common/images/vtoday.png"></td><td width="25%">Đang online</td><td width="25%" style="text-align:right;">{$online}</td></tr><tr style="text-align:left;">
		</tr><tr style="text-align:left;">
		<td width="5%"><img src="/common/images/vall.png"></td><td width="25%">Tất cả</td><td width="25%" style="text-align:right;">{$total}</td></tr></tbody></table></div></div> 
 		</div>
	</div>
</div> 