<div class="module">
	<h3 class="module-title">Hỗ trợ trực tuyến</h3>
   	<div class="module-noidung">
   		<div class="hotro">
			<div class="hotro">
    		<table width="208">
            <tbody><tr>
        	<td>
            	<a href="ymsgr:sendim?aaa" title="Hỗ trợ trực tuyến">
                    <img src="/common/images/online.png" width="80">
                </a>
            </td>
            <td style="padding-left:8px; vertical-align:top; padding-top:10px; line-height:150%;">
            	<p class="name">Hotline-1</p>
                <p class="hotline">0909656654</p>
            </td>
        </tr>
            <tr>
        	<td>
            	<a href="ymsgr:sendim?ssss" title="Hỗ trợ trực tuyến">
                    <img src="/common/images/skype.png" width="80">
                </a>
            </td>
            <td style="padding-left:8px; vertical-align:top; padding-top:10px; line-height:150%;">
            	<p class="name">Hotline-2</p>
                <p class="hotline">0909609189</p>
            </td>
        </tr>
         <tr>
        	<td bgcolor="#00CCFF" height="28" colspan="2">
        	  <p class="email">Email</p></td>
            </tr>
        <tr>
        	<td height="46" colspan="2"><p class="maillink">hienlc@ranmoigiangdien.com           </p></td>
            </tr>
        </tbody></table>
		</div> 		
		</div>
	</div>
</div>